@import '../../utils/variables';

.goods{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46px;

  &__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__item{
  }

  &__image{
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 8px;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__prices {
    margin-bottom: 10px;
  }

  &__current-price {
    color: $blue;
    margin-bottom: 5px;
  }

  &__past-price {
    text-decoration: line-through;
    margin-right: 10px;
    color: $grey;
  }

  &__sale {
    color: $pink;
    font-weight: 600;
  }
}