.button {
  display: flex;
  justify-content: center;
  padding: 11px 25px;
  border-radius: 51px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  background: #2967FF;
  &:hover {
    transition: background-color 3s cubic-bezier(0.1, 0.8, 0.5, 2);
    background: #073193;
  }
}