@import '../../utils/variables';

.orders-history{

  &__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  &__item{
    border: 1px solid $menu-blue;
    border-radius: 32px;
    padding: 20px;
  }

  &__header{
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    gap: 20px;
  }

  &__main{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;

  }
}