.aside {
  grid-area: aside;
  padding: 20px 20px 20px 20px;
  border-left: 1px solid #F0F4FB;

  &__list {
    display: flex;
    flex-direction: column;
    gap:20px;
  }

  &__proposition, &__item {
    border-radius: 20px;
  }

  &__proposition {
    position: relative;
    display: flex;
    width: 311px;
    height: 143px;
    border: 1px solid #FF2D87;
    align-items: center;
    justify-content: center;
    &__left {
      position: relative;
      left: -10px;
      width: 91px;
      height: 82px;
    }
    &__right {
      p {
        font-size: 20px;
        font-weight: 600;
        color: #2967FF;
        margin-bottom: 10px;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    color:#FFFFFF;
    user-select: none;
    cursor: pointer;
    width: 311px;
    height: 143px;
    h3 {
      line-height: 23px;
      width: min-content;
      text-align: center;
    }
  }

}


