@import '../../utils/variables';

//Main
.main {
  margin-bottom: 55px;

  // Header
  &__header {
    padding-bottom: 20px;

    &__top{
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 30px;

      & > span{
        font-size: 12px;
        font-weight: 600;
        color: $blue;
        cursor: pointer;
      }
    }

    &__bottom{
      & > *:not(:last-child){
        margin-bottom: 10px;
      }
    }


    &__category{
      margin-right: 6px;
      background-color: $blue;
      border: 1px solid $blue;
      border-radius: 40px;
      padding: 2px 10px;
      color: white;
      cursor: pointer;
    }
  }

  &__category-list{
    display: flex;
  }

  //Content
  &__content {

  }
}



