.basket--orders {
  //fixme margin
  margin-left: 60px;
  border-radius: 20px;
  width: 916px;
  border: 1px solid #AEC2EA;
  &__header {
    height: 100px;
    border: 1px solid #AEC2EA;
  }
  &__list {

  }
  &__item {

  }
}
