
.header{

  h1{
    font-size: 37px;
    font-weight: bold;
  }

  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  &__address{

  }
  &__search{

  }
  &__basket{

  }
  &__avatar{
    width: 36px;
    height: 36px;
  }
}

