@import '../../utils/variables';

.header{
  padding: 20px 0;
  grid-area: header;

  h1{
    font-size: 37px;
    font-weight: bold;
  }

  span{
    color: $blue-grey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  &__address{
    display: flex;
    align-items: center;
    gap: 5px;
    min-width: 20%;
  }
  &__search{
    width: 80%;
    padding: 3px 5px 3px 0;
    border: 1px solid $very-light-blue;
    border-radius: 36px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    &_input{
      font-size: 16px;
      padding: 11px 8px 11px 20px;
      width: 100%;
    }
    &_button{
      background-color: $very-light-blue;
      padding: 0 40px;
      border-radius: 36px;

    }
  }
  &__basket{
    z-index: 1;
    position: relative;
    min-width: 44px;
    min-height: 44px;
    border: 1px solid $blue-grey;
    border-radius: 50%;
    
    &_icon{
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
    &_count{
      z-index: 2;
      position: absolute;
      background-color: white;
      color: $blue;
      font-size: 14px;
      border-radius: 50%;
      transform: translate(-100%, -30%);
      right: -100%;
      padding: 5px 5px;
    }
  }
  &__avatar{
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
}

