@import "src/utils/variables";

footer {
  background: #F8F8F8;
  padding: 32px 50px 35px 50px;
  .header-footer {
    display: flex;
    justify-content: space-between;
    color: $text-color;
    h1 {
      font-size: 40.8px;
    }
    .our__contacts {
      display: flex;
      gap:31px;
    }
  }

  .bottom-footer {
    ul {
      display: flex;
      justify-content: center;
      gap:20px;
      color: #8D8D8E;
    }
  }

}